[submodule "submodules/CinematicsBuddyPlugin"]
	path = submodules/CinematicsBuddyPlugin
	url = https://github.com/CinderBlocc/CinematicsBuddyPlugin.git
	branch = master
[submodule "submodules/CinematicsBuddyMaxscript"]
	path = submodules/CinematicsBuddyMaxscript
	url = https://github.com/CinderBlocc/CinematicsBuddyMaxscript.git
	branch = master
[submodule "submodules/CinematicsBuddyAE"]
	path = submodules/CinematicsBuddyAE
	url = https://github.com/CinderBlocc/CinematicsBuddyAE.git
	branch = main
